<form action="{{ form_action  }}" method="post" {{ form_enctype(form)}} >
    {{ form_errors(form) }}

    <dl>
        <dt>{{ form_label(form.title) }}</dt>
        <dl>{{ form_widget(form.title) }}</dl>

        <dt>{{ form_label(form.blog) }}</dt>
        <dl>{{ form_widget(form.blog) }}</dl>

        <dt>{{ form_label(form.tags) }}</dt>
        <dl>{{ form_widget(form.tags) }}</dl>
        <dl class="tagline">Comma separated list, please</dl>
    </dl>

    {{ form_rest(form) }}
    <br>
    <input type="submit" name="submit" value="Submit" />
</form>

